APP_NAME=Control de Acceso al Centro de Datos
APP_HOST=0.0.0.0
APP_PORT=8066
SECRET_KEY=cambiar-esta-clave-en-produccion

DB_HOST=localhost
DB_PORT=5432
DB_NAME=cacd-dp
DB_USER=postgres
DB_PASSWORD=

USUARIOS_PERMITIDOS=namarillo

LDAP_ENABLED=true
LDAP_SERVER=ldap://10.200.0.6
LDAP_DOMAIN=vipdp.dpperu.local
LDAP_BASE_DN=OU=Usuarios,OU=DP,DC=vipdp,DC=dpperu,DC=local

AD_HOST=10.200.0.6
AD_PORT=389
AD_DOMAIN=vipdp.dpperu.local
AD_SEARCH_USER_BASE=OU=Usuarios,OU=DP,DC=vipdp,DC=dpperu,DC=local
AD_SEARCH_GROUP_BASE=
AD_SECURE_LDAP=false
AD_SECURITY_PROTOCOL=ldap
AD_VALIDATION_ENABLED=true
AD_SHOW_EXCEPTIONS=false
