APP_NAME=Control de Acceso al Centro de Datos
APP_HOST=0.0.0.0
APP_PORT=8066
SECRET_KEY=cambiar-esta-clave-en-produccion

DB_HOST=localhost
DB_PORT=5432
DB_NAME=cacd-dp
DB_USER=postgres
DB_PASSWORD=1234

LDAP_ENABLED=false
LDAP_SERVER=
LDAP_DOMAIN=midominio.local
LDAP_BASE_DN=DC=midominio,DC=local

AD_HOST=172.18.1.10
AD_PORT=389
AD_DOMAIN=ADSUNARP
AD_SEARCH_USER_BASE=DC=sunarp,DC=gob,DC=pe
AD_SEARCH_GROUP_BASE=OU=Grupos,OU=Sede Central,DC=sunarp,DC=gob,DC=pe
AD_SECURE_LDAP=false
AD_SECURITY_PROTOCOL=ssl
AD_VALIDATION_ENABLED=false
AD_SHOW_EXCEPTIONS=false
